name: Generate GitHub Stats

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

permissions:
  contents: write 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Generate stats cards
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
          THEME_NAME: merko
        run: python main.py Domisnnet

      - name: Commitar e Fazer Push dos Novos SVGs
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'bot: Atualiza SVG dos Stats e Linguagens (Barra Premium)'
          files: |
            github-stats.svg
            top-langs.svg
          commit_user_name: 'github-actions[bot]'
          commit_user_email: '41898282+github-actions[bot]@users.noreply.github.com'